<div class="{{classes.globalFilterWrapper}}">
  <form class="globalSearch" action="">
      <label>{{io-input type="text" style="float: right;" placeholder="搜索" value=filterString}} </label>
  </form>
</div>