<h1>button</h1>
<br/>
<div id="components-button-demo-basic" class="demo">
    <div data-reactid=".21">
        <button type="button" class="ant-btn ant-btn-primary" data-reactid=".21.0">
            <span data-reactid=".21.0.0">
                主按钮
            </span>
        </button>
        <button type="button" class="ant-btn" data-reactid=".21.1">
            <span data-reactid=".21.1.0">
                次按钮
            </span>
        </button>
        <button type="button" class="ant-btn ant-btn-ghost" data-reactid=".21.2">
            <span data-reactid=".21.2.0">
                幽灵按钮
            </span>
        </button>
        <button type="button" class="ant-btn ant-btn-dashed" data-reactid=".21.3">
            <span data-reactid=".21.3.0">
                虚线按钮
            </span>
        </button>
    </div>
</div>
<br/>
<br/>
<div data-reactid=".22" class="demo">
    <button type="button" class="ant-btn ant-btn-primary ant-btn-lg" data-reactid=".22.0">
        <span data-reactid=".22.0.0">
            大号按钮
        </span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" data-reactid=".22.1">
        <span data-reactid=".22.1.0">
            中号按钮(默认)
        </span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary ant-btn-sm" data-reactid=".22.2">
        <span data-reactid=".22.2.0">
            小号按钮
        </span>
    </button>
</div>
<br/>
<br/>
<div data-reactid=".23" class="demo">
    <button type="button" class="ant-btn ant-btn-primary ant-btn-lg ant-btn-loading" data-reactid=".23.0">
        <span data-reactid=".23.0.0">
            加载中
        </span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary ant-btn-loading" data-reactid=".23.1">
        <span data-reactid=".23.1.0">
            加载中
        </span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary ant-btn-sm ant-btn-loading" data-reactid=".23.2">
        <span data-reactid=".23.2.0">
            加载中
        </span>
    </button>
    <br data-reactid=".23.3"/>
    <button type="button" class="ant-btn ant-btn-primary" data-reactid=".23.4">
        <span data-reactid=".23.4.0">
            点击变加载
        </span>
    </button>
    <button type="button" class="ant-btn ant-btn-primary" data-reactid=".23.5">
        <i class=" anticon anticon-poweroff" data-reactid=".23.5.$=10">
        </i>
        <span data-reactid=".23.5.1">
            点击变加载
        </span>
    </button>
</div>
<br/>
<br/>