<h2>{{#link-to 'application'}}Antd-Ember{{/link-to}}</h2>
<br>
<ul>
	<li>
		{{#link-to 'docs.button'}} button 按钮{{/link-to}}
	</li>
	<li>
		{{#link-to 'docs.table'}} Table 表格 {{/link-to}}
	</li>
</ul>
{{outlet}}